  <tr>
    <td><%= link_to employee.name, employee_visits_path(employee) %></td>
    <td><%= employee.post %></td>
    <td><%= link_to 'Изменить', edit_office_employee_path(employee.office, employee) %></td>
    <td><%= link_to 'Удалить', [employee.office, employee], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
